nav{
	border-top: 2px solid orange;
}
nav ul li:first-child{
	background: orange;
}
.right-side .clo-font{
	color: orange;
}
.clo-font{
	color: orange;
}
.right-side{
	border: 1px solid orange;
}
.rs2{
	border: 1px solid orange;
}
.rs2-nav{
	border: 1px solid orange;
	border-bottom: 0; 
}
.left-side{
	border: 1px solid orange; 
}
nav ul li:hover{
	background: orange;
}
.rs2-nav .rs2-nav1 li:hover a{
	color: red;
}