.fleft{
	float: left;
	width: 300px;
	background-color: orange;
}
.fright{
	float: right;
	width: 300px;
	background-color: red;
}
.col{
	-webkit-column-count:4;
	-webkit-column-rule-style:dotted;
}
.center{
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center; 
	height: 300px;
	width: 300px;
	background-color: orange;
}
.center img{
	width: 150px;
}